<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Todo</title>
    <link rel="stylesheet" href="style.css" />
    <script src="node_modules/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h1 class="app-title">Todo</h1>

      <form class="new-task" @submit.prevent="addNewTask">
        <label class="new-task__label" for="new-task-text">
          <span role="img" class="new-task__icon" aria-label="新規タスク">
            &#x2795;&#xFE0E;
          </span>
        </label>
        <input
          type="text"
          id="new-task-text"
          class="new-task__text"
          placeholder="タスクを追加"
          autocomplete="off"
          v-model="newTaskText"
        />
        <button class="new-task__add-button" :disabled="!newTaskText">
          追加
        </button>
      </form>

      <ul class="task-list">
        <li
          class="task-item"
          v-for="(task, index) in tasks"
          v-bind:key="task.id"
        >
          <input
            type="checkbox"
            class="task-item__completed"
            v-model="task.isCompleted"
          />
          <input
            type="text"
            class="task-item__text"
            v-model="task.text"
            @change="!task.text && removeTask(index)"
          />
          <button class="task-item__remove-button" @click="removeTask(index)">
            <span role="img" class="task-item__remove-icon" aria-label="削除">
              &#x2716;&#xFE0E;
            </span>
          </button>
        </li>
      </ul>
    </div>

    <script src="app.js"></script>
  </body>
</html>
